/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #404040;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #367ab9;
  text-decoration: none;
  line-height: inherit;
  font-weight: inherit;
}

a:hover {
  color: #7cacd9;
  text-decoration: underline;
}

.clear {
	clear: both;
	height: 0;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  width: 670px;
  margin: 2em auto 2em auto;
}

.title {
  color: #454545;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  vertical-align: top;
  margin-bottom: 20px;
}

.title a {
  color: #454545;
}

.site_description {
  text-align: center;
  font-size: 13px;
  color: #aaa;
  line-height: 20px;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer a {
  margin-left: 10px;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.postunit {
    padding: 20px 0px;
    margin: 5px auto;
    position: relative;
    width: 670px;
}

.info-column {
    color: #444;
    float: left;
    font-size: 14px;
    text-align: right;
    width: 170px;
    margin-top: 1px;
}

h1,h2,.about-details,.date {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.date {
    margin: 5px 20px 0 0;
}
.date-day {
    color: #444;
    font-weight: bold;
}

.date a:hover {
    color: #0080C3;
}

h2 {
    font-size: 22px;
    line-height: 28px;
    font-weight: bold;
}

h2 a {
    color: #0080C3;
    text-decoration: none;
}

h2 a:hover {
    color: #333;
    text-decoration: none;
}

.post_body { margin-top: 15px; }

.post {
    float: right;
    position: relative;
    width: 500px;
}

.post p, .post div {
    line-height: 1.7em;
}

.posted_by {
    font-size: 10px;
    margin: 5px 0px 20px 0px;
    color: #888;
}

p {
    margin: 15px 0px;
}

  /* standard */

  .post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  .post ul,
  .post ol {
    margin-left: 1.35em;
  }

  .post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    .post pre code {
      border: none;
    }

  /* terminal */

  .post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  .post pre.terminal code {
    background-color: #333;
  }
  
  .post blockquote {
  	padding-left: 15px;
  	border-left: 4px solid #eee;
  }