<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <link rel="SHORTCUT ICON" type="image/ico" href="/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png"/>

  <title>{{ page.title }}</title>
  
  <link href="/atom.xml" rel="alternate" title="Tabule Blog" type="application/atom+xml" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33023102-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div class="site">

	<div class="title">
		<a href="/" title="Tabule Blog">
      <img src="/images/koala.jpg" width="91" height="50" alt="Koala" />
    </a>
      <span><a href="/" title="Tabule Blog">The Tabule Blog</a></span>
	</div>

  <p class="site_description">Meet your student planner, on steroids
    <a href="http://tabuleapp.com">Learn more at Tabuleapp.com</a></p>

<div class="clear">&nbsp;</div>
  
  <div class="content">
    {{ content }}
  </div>

  <div class="clear">&nbsp;</div>
  <div class="footer">
    &copy; 2013 Tabule, Inc. <a href="/atom.xml">Subscribe via RSS</a> <a href="http://twitter.com/tabuleapp" target="_blank">Follow @tabuleapp on Twitter</a> <a href="http://facebook.com/tabuleapp" target="_blank">Like us on Facebook</a>
    <div class="clear">&nbsp;</div>
  </div>
  
</div>

        <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'tabule'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
        </script>
</body>
</html>
